<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grille</title>
    <link rel="stylesheet" href="./static/style.css">
</head>

<body>
    <div class="grid">
        {{range .Grid}}
        <div class="row">
            {{range .}}
            <div class="case">
                {{template "case" .}}
            </div>
            {{end}}
        </div>
        {{end}}
    </div>

    <div class="grid2">
        {{range .Grid}}
        <div class="row">
            {{range .}}
            <div class="case2">
                <form action="/affiche" method="post">
                    <button type="submit" name="affiche" value="{{.X}} {{.Y}}"></button>
                </form>
            </div>
            {{end}}
        </div>
        {{end}}
    </div>

    {{range .Grid}}
    <div class="espace">
    </div>
    {{end}}

    {{template "footer"}}

    {{template "text" .}}
</body>

</html>
