.case{
    width: 50px;
    height: 50px;
    background-color: aliceblue;
}

.case2{
    width: 50px;
    height: 50px;
}

.row{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}

.grid{
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    flex-direction: column-reverse;
}

.grid2{
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
}

.case2 form button{
    width: 50px;
    height: 50px;
    opacity: 0;
}

.svgcase{
    fill: none;
    stroke-width: 25;
    transition: 0.30s;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.display{
    display: grid;
    stroke: black;
}

.center{
    background-color: rgb(90, 90, 90);
}

.block{
    background-color: black;
}

.espace{
    width: 50px;
    height: 50px;
}

.flower{
    stroke: green;
}

.item{
    stroke: red;
}

footer{
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 0;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.text{
    width: 20%;
    height: 50vh;
    background-color: beige;
    overflow: scroll;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
}